# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: OEPICUS | Future Audio Instruments
email: info@oepicus.com
name: Oepicus
app_name: oepic.us
description: "Oepicus crafts future audio instruments for musicians and producers. Explore our range of boutique guitar pedals, modular synth effects, and Eurorack-compatible gear. From expressive distortion and fuzz to complex delay and filters, our instruments are designed to inspire creativity for guitar, synth, and modular artists."

keywords: "Guitar Pedals, Doom Metal, Modular Synthesisers, Eurorack Modular, Boutique Pedals, Effects Pedals, Guitar Effects, Synth Pedals, CV Control, Wavefolder, Distortion, Fuzz, Delay, Filter, Audio Instruments, Oepicus"

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://oepic.us" # the base hostname & protocol for your site, e.g. http://example.com
logo: /assets/Oepicus-Logo-RED-GOLD-NO-BG-1.png
social:
  name: Oepicus
  links:
    - https://twitter.com/oepicus
    - https://www.facebook.com/profile.php?id=61584611603188

# Build settings
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  # - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Defaults for posts and pages
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      sitemap:
        changefreq: "daily"
        priority: 0.9
  - scope:
      path: ""
      type: "pages"
    values:
      sitemap:
        changefreq: "weekly"
        priority: 0.7
